<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="h3">
      <i class="glyphicon glyphicon-user"></i> Member Search
    </h2>
  </div>
  <div class="panel-body">
    <section class="search-form">
      <%= form_for :members, method: :get do |f| %>
        <div class="input-group input-group-lg">
          <%= label_tag :keywords, nil, class: "sr-only" %>
          <%= text_field_tag :keywords, nil,
            placeholder: "First Name, Name or Email Address", 
            class: "form-control input-lg" %>
          <span class="input-group-btn">
            <%= button_tag type: "submit", class: "btn btn-primary btn-lg", 
                           id: "find_button" do %>
              <i class="glyphicon glyphicon-search"></i>
            <% end %>
          </span>
        </div>
      <% end %>
    </section>

    <% if @members %>
      <section class="search-results">
        <header>
          <h1 class="h3">Results</h1>
        </header>
        <ol class="list-group">
          <% @members.each do |member| %>
            <li class="list-group-item clearfix">
              <h2 class="h3">
                <i class="glyphicon glyphicon-user"></i>
                <%= member.title %> <%= member.first_name %> 
                <%= member.name %>
                <small><%= member.date_of_birth %></small>
              </h2>
              <address>
                <%= if_phone member.phone %>
                <%= if_email member.email, false %>
              </address>
              <%= if_blockquote member.information, member.first_name %>
            </li>
          <% end %>
        </ol>
      </section>
    <% end %>
  </div>
</div>

