<% provide(:title, "Add group member") %>

<article class="panel panel-default">
  <header class="panel-heading">
    <h2 class="h3">
      <i class="glyphicon glyphicon-flag"></i>
      <%= @group.name %>
    </h2>
  </header>
  <section class="panel-body">
    <address>
      <i class="glyphicon glyphicon-globe"></i>
      <%= link_to @group.website, @group.website, 
        target: "_blank" %>
    </address>
    <blockquote><p><%= @group.description %></p>
      <footer>Description for 
        <cite><%= @group.name %></cite>
      </footer>
    </blockquote>
  </section>
  <section class="panel-footer">
    <%= link_to "Back to group", @group %>
  </section>
</article>

<div class="row">
  <div class="col-md-6">
    <header>
      <h1 class="h2">Member Search</h1>
    </header>

    <section class="search-form">
      <%= form_for :members, method: :get do |f| %>
        <div class="input-group input-group-lg">
          <%= label_tag :member_search, nil, class: "sr-only" %>
          <%= text_field_tag :member_search, nil,
            placeholder: "First Name, Name and Email Address", autofocus: true,
            class: "form-control input-lg" %>
          <span class="input-group-btn">
            <%= submit_tag "Find Members", 
              class: "btn btn-primary btn-lg" %>
          </span>
        </div>
      <% end %>
    </section>

    <section class="search-results">
      <header>
        <h1 class="h3">Results</h1>
      </header>
      <ol class="list-group">
        <% @non_group_members.each do |member| %>
          <li class="list-group-item clearfix">
            <h3 class="pull-right">
              <%= link_to "Add", 
                add_group_member_path(@group, member), 
                class: "btn btn-primary btn-sm" %> 
            </h3>
            <h2 class="h3">
              <i class="glyphicon glyphicon-user"></i>
              <%= member.title %> <%= member.first_name %> <%= member.name %>
              <small><%= member.date_of_birth %></small>
            </h2>
            <address>
              <i class="glyphicon glyphicon-phone-alt"></i>
              <%= member.phone %><br>
              <i class="glyphicon glyphicon-envelope"></i>
              <%= mail_to member.email %>
            </address>
          </li>
        <% end %>
      </ol>
    </section>
  </div>

  <div class="col-md-6">
    <header>
      <h1 class="h2">Group Member Search</h1>
    </header>

    <section class="search-form">
      <%= form_for :member, method: :get do |f| %>
        <div class="input-group input-group-lg">
          <%= label_tag :group_member_search, nil, class: "sr-only" %>
          <%= text_field_tag :group_member_search, nil,
            placeholder: "First Name, Name and Email Address", 
            class: "form-control input-lg" %>
          <span class="input-group-btn">
            <%= submit_tag "Find Group Members", 
              class: "btn btn-primary btn-lg" %>
          </span>
        </div>
      <% end %>
    </section>

    <section class="search-results">
      <header>
        <h1 class="h3">Results</h1>
      </header>
      <ol class="list-group">
        <% @group_members.each do |member| %>
          <li class="list-group-item clearfix">
            <h3 class="pull-right">
              <%= link_to "Remove", 
                remove_group_member_path(@group, member), 
                class: "btn btn-warning btn-sm" %> 
            </h3>
            <h2 class="h3">
              <i class="glyphicon glyphicon-user"></i>
              <%= member.title %> <%= member.first_name %> <%= member.name %>
              <small><%= member.date_of_birth %></small>
            </h2>
            <address>
              <i class="glyphicon glyphicon-phone-alt"></i>
              <%= member.phone %><br>
              <i class="glyphicon glyphicon-envelope"></i>
              <%= mail_to member.email %>
            </address>
          </li>
        <% end %>
      </ol>
    </section>
  </div>
</div>
