<% provide(:title, "Groups") %>

<header>
  <h1 class="h2">Group Search</h1>
</header>

<section class="search-form">
  <%= form_for :groups, method: :get do |f| %>
    <div class="input-group input-group-lg">
      <%= label_tag :keywords, nil, class: "sr-only" %>
      <%= text_field_tag :keywords, nil,
        placeholder: "Name, Website and Description", autofocus: true,
        class: "form-control input-lg" %>
      <span class="input-group-btn">
        <%= submit_tag "Find Groups", class: "btn btn-primary btn-lg" %>
      </span>
    </div>
  <% end %>
</section>

<section class="link-area">
  <br>
  <%= link_to "Create new group", new_group_path, 
    class: "btn btn-primary" %>
</section>

<section class="search-results">
  <header>
    <h1 class="h3">Results</h1>
  </header>
  <ol class="list-group">
    <% @groups.each do |group| %>
      <li class="list-group-item clearfix">
        <h2 class="pull-right">
          <%= link_to "View events...", group_events_path(group),
            class: "btn btn-default btn-sm" %>
          <%= link_to "View members...", group,
            class: "btn btn-default btn-sm" %>
          <%= link_to "Edit", 
            edit_group_path(group), 
            class: "btn btn-primary btn-sm" %> 
          <%= link_to "Delete", 
            group, 
            method: :delete, 
            data: { confirm: "You are about to delete #{group.name}. 
                    Do you want to delete now?" }, 
            class: "btn btn-warning btn-sm" %>
        </h2>
        <h2 class="h3">
          <i class="glyphicon glyphicon-flag"></i>
          <%= group.name %>
        </h2>
        <address>
          <%= if_phone group.phone %>
          <%= if_email group.email %>
          <%= if_website group.website, false %>
        </address>
        <%= if_blockquote group.description, group.name %>
        <%= render 'pdf_templates/printer', 
          klass: "Group", 
          css_class: "pull-left", 
          path: print_group_path(group, params[:template]) %>
      </li>
    <% end %>
  </ol>
</section>

