<% provide(:title, "Groups") %>

<header>
  <h1 class="h2">Group Search</h1>
</header>

<section class="search-form">
  <%= form_for :groups, method: :get do |f| %>
    <div class="input-group input-group-lg">
      <%= label_tag :keywords, nil, class: "sr-only" %>
      <%= text_field_tag :keywords, nil,
        placeholder: "Name, Website and Description", autofocus: true,
        class: "form-control input-lg" %>
      <span class="input-group-btn">
        <%= submit_tag "Find Groups", class: "btn btn-primary btn-lg" %>
      </span>
    </div>
  <% end %>
</section>

<section class="search-results">
  <header>
    <h1 class="h3">Results</h1>
  </header>
  <ol class="list-group">
    <% @groups.each do |group| %>
      <li class="list-group-item clearfix">
        <h3 class="pull-right">
          <small class="text-uppercase">Created</small>
          <%= l group.created_at.to_date %>
        </h3>
        <h2 class="h3">
          <i class="glyphicon glyphicon-flag"></i>
          <%= group.name %>
        </h2>
        <address>
          <i class="glyphicon glyphicon-globe"></i>
          <%= link_to group.website, group.website, 
            target: "_blank" %>
        </address>
        <div class="pull-right">
          <%= link_to "View events...", group_events_path(group),
            class: "btn btn-default btn-sm" %>
          <%= link_to "View members...", group,
            class: "btn btn-default btn-sm" %>
          <%= link_to "Edit", 
            edit_group_path(group), 
            class: "btn btn-primary btn-sm" %> 
          <%= link_to "Delete", 
            group, 
            method: :delete, 
            data: { confirm: "You are about to delete #{group.name}. 
                    Do you want to delete now?" }, 
            class: "btn btn-warning btn-sm" %>
        </div>
        <blockquote><p><%= group.description %></p>
          <footer>Description of 
            <cite><%=group.name %></cite>
          </footer>
        </blockquote>
      </li>
    <% end %>
  </ol>
</section>

<section class="link-area">
  <%= link_to "Create new group", new_group_path, 
    class: "btn btn-primary" %>
</section>

