<% provide(:title, "#{@group.name} events") %>

<div class="row">
  <div class="col-md-4">
    <article class="panel panel-default">
      <header class="panel-heading">
        <h2 class="h3">
          <i class="glyphicon glyphicon-flag"></i>
          <%= @group.name %>
        </h2>
      </header>
      <section class="panel-body">
        <address>
          <%= if_website @group.website, false %>
        </address>
        <%= if_blockquote @group.description, @group.name %>
      </section>
      <section class="panel-footer">
        <%= link_to "Back to groups", groups_path %>
      </section>
    </article>
  </div>
  <div class="col-md-8">
    <header>
      <h1 class="h2">Event Search</h1>
    </header>

    <section class="search-form">
      <%= form_for :events, method: :get do |f| %>
        <div class="input-group input-group-lg">
          <%= label_tag :event_search, nil, class: "sr-only" %>
          <%= text_field_tag :event_search, nil,
            placeholder: "Title, Description, Venue and Event Date", 
            autofocus: true,
            class: "form-control input-lg" %>
          <span class="input-group-btn">
            <%= submit_tag "Find Events", 
              class: "btn btn-primary btn-lg" %>
          </span>
        </div>
      <% end %>
    </section>

    <section class="link-area">
      <br>
      <%= link_to "Create new event", 
        new_group_event_path(@group), 
        class: "btn btn-primary" %>
    </section>  

    <section class="search-results">
      <header>
        <h1 class="h3">Results</h1>
      </header>
      <ol class="list-group">
        <% @events.each do |event| %>
          <li class="list-group-item clearfix">
            <h2 class="pull-right">
              <%= link_to "Registrations...",
                event_registrations_path(event),
                class: "btn btn-default btn-sm" %>
              <%= link_to "Edit", 
                edit_group_event_path(@group, event), 
                class: "btn btn-primary btn-sm" %> 
              <%= link_to "Delete", 
                [@group, event], 
                method: :delete, 
                data: { confirm: "You are about to delete the #{event.title}. 
                        Do you want to delete now?" }, 
                class: "btn btn-warning btn-sm" %>
            </h2>
            <h2 class="h3">
              <i class="glyphicon glyphicon-user"></i>
              <%= event.title %> 
              <small><%= event.start_date ? l(event.start_date) : "" %></small>
            </h2>
            <h3><small><%= event.description %></small></h3>
            <%= if_blockquote event.information,
              "#{event.title} of #{@group.name}" %>
          </li>
        <% end %>
      </ol>
    </section>

  </div>
</div>
