<% provide(:title, "#{@group.name} events") %>

<div class="row">
  <div class="col-md-4">
    <article class="panel panel-default">
      <header class="panel-heading">
        <h2 class="h3">
          <i class="glyphicon glyphicon-flag"></i>
          <%= @group.name %>
        </h2>
      </header>
      <section class="panel-body">
        <address>
          <i class="glyphicon glyphicon-globe"></i>
          <%= link_to @group.website, @group.website, 
            target: "_blank" %>
        </address>
        <blockquote><p><%= @group.description %></p>
          <footer>Description for 
            <cite><%= @group.name %></cite>
          </footer>
        </blockquote>
      </section>
      <section class="panel-footer">
        <%= link_to "Back to groups", groups_path %>
      </section>
    </article>
  </div>
  <div class="col-md-8">
    <header>
      <h1 class="h2">Event Search</h1>
    </header>

    <section class="search-form">
      <%= form_for :events, method: :get do |f| %>
        <div class="input-group input-group-lg">
          <%= label_tag :event_search, nil, class: "sr-only" %>
          <%= text_field_tag :event_search, nil,
            placeholder: "Title, Description, Venue and Event Date", 
            autofocus: true,
            class: "form-control input-lg" %>
          <span class="input-group-btn">
            <%= submit_tag "Find Events", 
              class: "btn btn-primary btn-lg" %>
          </span>
        </div>
      <% end %>
    </section>

    <section class="search-results">
      <header>
        <h1 class="h3">Results</h1>
      </header>
      <ol class="list-group">
        <% @events.each do |event| %>
          <li class="list-group-item clearfix">
            <h3 class="pull-right">
              <small class="text-uppercase">Date</small>
              <%= l event.start_date %>
            </h3>
            <h2 class="h3">
              <i class="glyphicon glyphicon-user"></i>
              <%= event.title %> 
            </h2>
            <h3><small><%= event.description %></small></h3>
            <div class="pull-right">
              <%= link_to "Registrations...",
                event_registrations_path(event),
                class: "btn btn-default btn-sm" %>
              <%= link_to "Edit", 
                edit_group_event_path(@group, event), 
                class: "btn btn-primary btn-sm" %> 
              <%= link_to "Delete", 
                [@group, event], 
                method: :delete, 
                data: { confirm: "You are about to delete the #{event.title}. 
                        Do you want to delete now?" }, 
                class: "btn btn-warning btn-sm" %>
            </div>
            <blockquote>
              <p><%= event.information %></p>
              <footer>Information about 
                <cite><%= event.title %> of <%= @group.name %></cite>
              </footer>
            </blockquote>
          </li>
        <% end %>
      </ol>
    </section>

    <section class="link-area">
      <%= link_to "Create new event", 
        new_group_event_path(@group), 
        class: "btn btn-primary" %>
    </section>  
  </div>
</div>
