<div class="row">
  <div class="col-md-3">
    <div class="form-group">
      <%= g.label :content %>
      <%= g.select :content, 
       grouped_options_for_select(@column_class_attributes.merge({row: ["#"]}),
                                  g.object.content),
                   { include_blank: '' }, 
                   { class: "column-header form-control" } %>
    </div>
  </div>

  <div class="col-md-3">
    <div class="form-group">
      <%= g.label :title %>
      <%= g.text_field :title, { class: "column-name form-control" } %>
    </div>
  </div>

  <div class="col-md-3">
    <div class="form-group">
      <%= g.label :size %>
      <%= g.text_field :size, { class: "form-control" } %>
    </div>
  </div>

  <div class="col-md-3">
    <%= g.hidden_field :_destroy %>
    <%= link_to "Remove", '#', class: "remove_fields btn btn-warning" %>
  </div>
  </br>
</div>
