<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <%= g.label :left %>
      <%= g.select :left, options_for_select(@associated_class_attributes + 
                          PdfTemplate::Printer::PAGE_NUMBERING +
                          PdfTemplate::Printer::DATE_FORMATS, g.object.left),
                   {}, { class: "form-control" } %>
  </div>

  </div><div class="col-md-4">
    <div class="form-group">
      <%= g.label :middle %>
      <%= g.select :middle, options_for_select(@associated_class_attributes + 
                           PdfTemplate::Printer::PAGE_NUMBERING +
                           PdfTemplate::Printer::DATE_FORMATS, g.object.middle),
                   {}, { class: "form-control" } %>
  </div>

  </div><div class="col-md-4">
    <div class="form-group">
      <%= g.label :right %>
      <%= g.select :right, options_for_select(@associated_class_attributes + 
                           PdfTemplate::Printer::PAGE_NUMBERING +
                           PdfTemplate::Printer::DATE_FORMATS, g.object.right),
                   {}, { class: "form-control" } %>
    </div>
  </div>
</div>

