<% provide(:title, "Templates") %>

<section class="results">
  <header>
    <h1 class="h3">Templates</h1>
  </header>
  
  <section class="link-area">
    </br>
    <%= link_to "Create new template", new_pdf_template_path, 
      class: "btn btn-primary" %></br></br>
  </section>

  <ol class="list-group">
    <% @templates.each do |template| %>
      <li class="list-group-item clearfix">
        <h2 class="pull-right">
          <%= link_to "Edit", 
            edit_pdf_template_path(template), 
            class: "btn btn-primary btn-sm" %> 
          <%= link_to "Delete", 
            [template], 
            method: :delete, 
            data: { confirm: "You are about to delete the template. 
                    Do you want to delete now?" }, 
            class: "btn btn-warning btn-sm" %>
        </h2>

        <h2 class="h3">
          <i class="glyphicon glyphicon-th-list"></i>
          <%= template.title %> <%= template.associated_class %> 
          <%= template.orientation %></br>
          <small><%= template.updated_at %></small>
        </h2>

        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title">
              <%= template.title %>
            </div>
          </div>
          <table class="table table-small">
            <tr>
              <th><%= template.header.left   %></td>
              <th><%= template.header.middle %></td>
              <th><%= template.header.right  %></td>
            </tr>
            <% template.header_columns.each do |column| %>
              <tr>
                <td><%= column.content %></td>
                <td><%= column.title %></td>
                <td><%= column.size %></td>
              </tr>
            <% end %>
            <tr>
              <th><%= template.footer.left   %></td>
              <th><%= template.footer.middle %></td>
              <th><%= template.footer.right  %></td>
            </tr>
          </table>
        </div>
      </li>
    <% end %>
  </ol>
</section>

