<header>
  <h1 class="h2">Member Search</h1>
</header>

<section class="search-form">
  <%= form_for :members, method: :get do |f| %>
    <div class="input-group input-group-lg">
      <%= label_tag :member_search, nil, class: "sr-only" %>
      <%= text_field_tag :member_search, nil,
        placeholder: "First Name, Name or Email", autofocus: true, 
        class: "form-control input-lg" %>
      <span class="input-group-btn">
        <%= submit_tag "Find Members", 
          class: "btn btn-primary btn-lg" %>
      </span>
    </div>
  <% end %>
</section>

<section class="search-results">
  <header>
    <h1 class="h3">Results</h1>
  </header>
  <ol class="list-group">
    <% @not_registered_group_members.each do |member| %>
      <li class="list-group-item clearfix">
        <h2 class="pull-right">
          <%= link_to "Register", 
            register_event_path(@event, member_id: member), 
            class: "btn btn-primary btn-sm" %> 
        </h2>
        <%= render 'shared/member_details', member: member %>
      </li>
    <% end %>
  </ol>
</section>

