<% provide(:title, "Event #{@event.title}") %>

<article class="panel panel-default">
  <header class="panel-heading">
    <h2 class="pull-right">
      <small class="upcase">Date</small>
      <%= @event.start_date %>
    </h2>
    <h2 class="h3">
      <i class="glyphicon glyphicon-flag"></i>
      <%= @event.title %>
      <small><%= @event.description %><br></small>
    </h2>
  </header>
  <section class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <table class="table table-condensed">
          <tr><th>Venue</th><td><%= @event.venue %></td></tr>
          <tr><th>Fee</th><td><%= @event.cost %></td></tr>
          <tr><th>Capacity</th><td>20</td></tr>
        </table>
      </div>
      <div class="col-md-4">
        <table class="table table-condensed">
          <tr>
            <th>Departure</th>
            <td><%= @event.departure_place %></td>
            <td><%= format_date @event.start_date %> at 
              <%= format_time @event.start_time %>
          </tr>
          <tr>
            <th>Return</th>
            <td><%= @event.arrival_place %></td>
            <td><%= format_date @event.end_date %> at 
              <%= format_time @event.end_time %>
          </tr>
        </table>
      </div>
    </div>
    <%= if_blockquote @event.information,
      "#{@event.title} of #{@group.name}" %>
  </section>
  <section class="panel-footer">
    <%= link_to "Back to events", group_events_path(@group) %>
  </section>
</article>

<div class="row">
  <div class="col-md-6">
    <%= render 'not_registered_group_members' %>
  </div>
  <div class="col-md-6">
    <%= render 'registered_group_members' %>
  </div>
</div>
