<% provide(:title, "Organizations") %>

<header>
  <h1 class="h2">Organization Search</h1>
</header>

<section class="search-form">
  <%= form_for :customers, method: :get do |f| %>
    <div class="input-group input-group-lg">
      <%= label_tag :keywords, nil, class: "sr-only" %>
      <%= text_field_tag :keywords, nil,
        placeholder: "Name or Email Address", 
        class: "form-control input-lg" %>
      <span class="input-group-btn">
        <%= submit_tag "Find Organizations", class: "btn btn-primary btn-lg" %>
      </span>
    </div>
  <% end %>
</section>

<section class="search-results">
  <header>
    <h1 class="h3">Results</h1>
  </header>
  <ol class="list-group">
    <% @organizations.each do |organization| %>
      <li class="list-group-item clearfix">
        <h3 class="pull-right">
          <small class="text-uppercase">Joined</small>
          <%= l organization.created_at.to_date %>
        </h3>
        <h2 class="h3">
          <i class="glyphicon glyphicon-user"></i>
          <%= organization.name %>
        </h2>
        <address>
          <%= organization.street %><br>
          <%= organization.zip %> <%= organization.town %><br>
          <%= organization.country %>
        </address>
        <address>
          <i class="glyphicon glyphicon-envelope"></i>
          <%= mail_to organization.email %><br>
          <i class="glyphicon glyphicon-globe"></i>
          <%= link_to organization.website, organization.website, 
            target: "_blank" %>
        </address>
        <div class="pull-right">
          <%= link_to "Edit", 
            edit_organization_path(organization), 
            class: "btn btn-primary btn-sm" %> 
          <%= link_to "Delete", 
            organization, 
            method: :delete, 
            data: { confirm: "You are about to delete the organization. 
                    Do you want to delete now?" }, 
            class: "btn btn-warning btn-sm" %>
        </div>
        <blockquote><p><%= organization.information %></p>
          <footer>Information about 
            <cite><%= organization.name %></cite>
          </footer>
        </blockquote>
      </li>
    <% end %>
  </ol>
</section>

<section class="link-area">
  <%= link_to "Create new organization", new_organization_path, 
    class: "btn btn-primary" %>
</section>
