<%= render partial: 'shared/generic_error_message', 
  locals: { topic: @member } %>

<%= form_for [@organization, @member] do |f| %>
  <div class="row">
    <div class="col-md-7">
      <div class="form-group">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, autofocus: true, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :date_of_birth %>
        <%= f.date_field :date_of_birth, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :phone %>
        <%= f.text_field :phone, class: "form-control" %>
      </div>

      <%= f.fields_for :phones do |g| %>
        <%= render 'phone_fields', g: g %>
      <% end %>
      <p><%= link_to_add_fields 'Add phone', f, :phones %></p>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :information %>
        <%= f.text_area :information, class: "form-control" %>
      </div>
    </div>
  
    <div class="col-md-5">
      <div class="form-group">
        <%= label_tag "Groups" %><br>
        <% @user.groups.each do |group| %>
          <%= hidden_field_tag "member[group_ids][]", nil %>
            <%= check_box_tag "member[group_ids][]", group.id, 
              @member.groups.include?(group), id: dom_id(group) %>
            <%= label_tag dom_id(group), group.name %><br>
        <% end %>
      </div>
    </div>
  </div>

  <%= f.submit class: "btn btn-primary" %> | <%= link_to "Cancel", :back %>
<% end %>
